header{
    margin: -10px;
    background-color: lightpink;
}

header ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 8px;
}

header li{
    margin: 0 15px;
}

.logo{
    margin-right: auto;
}

img.logo{
    width: 50px;
    border-radius: 50px;
}