*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 20px;
    background-color: rgb(245, 245, 245);
}

#container{
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    overflow: auto;
}

.box{
    float: left;
    margin: 8px;
    width: 154px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.box-image{
    width: 100%;
    height: 200px;
}

.red{
    background-color: rgb(143, 76, 76);
}

.yellow{
    background-color: rgb(150, 143, 65);
}

.blue{
    background-color: chocolate;
}

.cornsilk{
    background-color: cornsilk;
}